In [ ]:
!pip install lxml html5lib beautifulsoup4

Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (4.2.6)
Requirement already satisfied: html5lib in /usr/local/lib/python3.7/dist-packages (1.0.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (4.6.3)
Requirement already satisfied: webencodings in /usr/local/lib/python3.7/dist-packages (from html5lib) (0.5.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from html5lib) (1.15.0)

In [ ]:
import pandas as pd

url = 'url de la pagina'
dfs = pd.read_html(url)

print(len(dfs))

1

In [ ]:
print(dfs[0])

                                              Version  ...                              End of security fixes
0                                                 NaN  ...                                   1993-07-29[a][2]
1                                                 NaN  ...                                   1994-02-15[a][2]
2                                                 NaN  ...                                   1994-11-10[a][2]
3                                                 NaN  ...                                        Unsupported
4                                                 NaN  ...                                        Unsupported
5                                                 NaN  ...                                        Unsupported
6                                                 NaN  ...                                   1999-04-13[a][2]
7                                                 NaN  ...                                     2000-09[a][40]
8                                                 NaN  ...                                  2001-06-22[a][42]
9                                                 NaN  ...                                  2002-04-09[a][42]
10                                                NaN  ...                                  2003-05-30[a][42]
11                                                NaN  ...                                  2008-03-11[a][42]
12                                                NaN  ...                                  2008-12-19[a][42]
13                                                NaN  ...                                  2011-05-26[a][42]
14                                                NaN  ...                                     2013-10-29[27]
15                                                NaN  ...                                  2020-01-01[c][32]
16                                                NaN  ...                                     2009-06-27[49]
17                                                NaN  ...                                     2012-04-06[50]
18                                                NaN  ...                                     2016-02-20[52]
19                                                NaN  ...                                     2017-09-29[53]
20                                                NaN  ...                                  2019-03-18[a][54]
21                                                NaN  ...                                     2020-09-30[56]
22                                                NaN  ...                                        2021-12[58]
23                                                NaN  ...                                        2023-06[59]
24                                                NaN  ...                                        2024-10[60]
25                                                NaN  ...                                    2025-10[62][63]
26                                               3.10  ...                                        2026-10[64]
27                                                NaN  ...                                        2027-10[65]
28                                                NaN  ...                                        2028-10[63]
29                                            Legend:  ...  Old versionOlder version, still maintainedLate...
30  Italics indicates the latest micro version of ...  ...  Italics indicates the latest micro version of ...

[31 rows x 5 columns]

In [ ]:
print(dfs[0]['nombre de la columna 1'])
print(dfs[0]['nombre de la columna 2'])

0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
5                                                   NaN
6                                                   NaN
7                                                   NaN
8                                                   NaN
9                                                   NaN
10                                                  NaN
11                                                  NaN
12                                                  NaN
13                                                  NaN
14                                                  NaN
15                                                  NaN
16                                                  NaN
17                                                  NaN
18                                                  NaN
19                                                  NaN
20                                                  NaN
21                                                  NaN
22                                                  NaN
23                                                  NaN
24                                                  NaN
25                                                  NaN
26                                                 3.10
27                                                  NaN
28                                                  NaN
29                                              Legend:
30    Italics indicates the latest micro version of ...
Name: Version, dtype: object
0                                         1991-02-20[2]
1                                         1994-01-26[2]
2                                         1994-10-11[2]
3                                         1995-04-13[2]
4                                         1995-10-13[2]
5                                         1996-10-25[2]
6                                         1998-01-03[2]
7                                        2000-09-05[41]
8                                        2000-10-16[43]
9                                        2001-04-15[44]
10                                       2001-12-21[45]
11                                       2003-06-29[46]
12                                       2004-11-30[47]
13                                       2006-09-19[48]
14                                       2008-10-01[27]
15                                       2010-07-03[32]
16                                       2008-12-03[27]
17                                       2009-06-27[50]
18                                       2011-02-20[52]
19                                       2012-09-29[53]
20                                       2014-03-16[54]
21                                       2015-09-13[56]
22                                       2016-12-23[58]
23                                       2018-06-27[59]
24                                       2019-10-14[60]
25                                       2020-10-05[62]
26                                       2021-10-04[64]
27                                       2022-10-03[65]
28                                          2023-10[63]
29    Old versionOlder version, still maintainedLate...
30    Italics indicates the latest micro version of ...
Name: Release date, dtype: object

In [ ]:
import pandas as pd

# Webpage url                                                                                                               
url = 'url de la pagina'

# Extract tables
dfs = pd.read_html(url)

# Get first table                                                                                                           
df = dfs[0]

# Extract columns                                                                                                           
df2 = df[['nombre de la columna','nombre de la columna']]
print(df2)

ValueError: ignored

In [ ]:
df2.to_excel('___.xlsx')

In [ ]:
df = pd.read_excel('___.xlsx')

In [ ]:
df

    Unnamed: 0  ...                                       Release date
0            0  ...                                      1991-02-20[2]
1            1  ...                                      1994-01-26[2]
2            2  ...                                      1994-10-11[2]
3            3  ...                                      1995-04-13[2]
4            4  ...                                      1995-10-13[2]
5            5  ...                                      1996-10-25[2]
6            6  ...                                      1998-01-03[2]
7            7  ...                                     2000-09-05[41]
8            8  ...                                     2000-10-16[43]
9            9  ...                                     2001-04-15[44]
10          10  ...                                     2001-12-21[45]
11          11  ...                                     2003-06-29[46]
12          12  ...                                     2004-11-30[47]
13          13  ...                                     2006-09-19[48]
14          14  ...                                     2008-10-01[27]
15          15  ...                                     2010-07-03[32]
16          16  ...                                     2008-12-03[27]
17          17  ...                                     2009-06-27[50]
18          18  ...                                     2011-02-20[52]
19          19  ...                                     2012-09-29[53]
20          20  ...                                     2014-03-16[54]
21          21  ...                                     2015-09-13[56]
22          22  ...                                     2016-12-23[58]
23          23  ...                                     2018-06-27[59]
24          24  ...                                     2019-10-14[60]
25          25  ...                                     2020-10-05[62]
26          26  ...                                     2021-10-04[64]
27          27  ...                                     2022-10-03[65]
28          28  ...                                        2023-10[63]
29          29  ...  Old versionOlder version, still maintainedLate...
30          30  ...  Italics indicates the latest micro version of ...

[31 rows x 3 columns]