In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/votos.csv')

In [ ]:
df

         state state_abbreviation  ... votes fraction_votes
0      Alabama                 AL  ...   544          0.182
1      Alabama                 AL  ...  2387          0.800
2      Alabama                 AL  ...  2694          0.329
3      Alabama                 AL  ...  5290          0.647
4      Alabama                 AL  ...   222          0.078
...        ...                ...  ...   ...            ...
24606  Wyoming                 WY  ...     0          0.000
24607  Wyoming                 WY  ...     0          0.000
24608  Wyoming                 WY  ...     0          0.000
24609  Wyoming                 WY  ...     0          0.000
24610  Wyoming                 WY  ...    53          1.000

[24611 rows x 7 columns]

Imprimir una columna

In [ ]:

print (df["county"])

0               Autauga
1               Autauga
2               Baldwin
3               Baldwin
4               Barbour
              ...
24606    Teton-Sublette
24607     Uinta-Lincoln
24608     Uinta-Lincoln
24609     Uinta-Lincoln
24610     Uinta-Lincoln
Name: county, Length: 24611, dtype: object

In [ ]:

print (df["county"][5:10]) # de la linea 5 a la 10
print (df["county"][:10]) # las primeras 10
print (df["county"][-5:]) # las últimas 5.
print (df["county"][1:3]) #de la uno a la dos
print (df["county"][-5:-1]) #la penúltima menos tres

5    Barbour
6       Bibb
7       Bibb
8     Blount
9     Blount
Name: county, dtype: object
0    Autauga
1    Autauga
2    Baldwin
3    Baldwin
4    Barbour
5    Barbour
6       Bibb
7       Bibb
8     Blount
9     Blount
Name: county, dtype: object
24606    Teton-Sublette
24607     Uinta-Lincoln
24608     Uinta-Lincoln
24609     Uinta-Lincoln
24610     Uinta-Lincoln
Name: county, dtype: object
1    Autauga
2    Baldwin
Name: county, dtype: object
24606    Teton-Sublette
24607     Uinta-Lincoln
24608     Uinta-Lincoln
24609     Uinta-Lincoln
Name: county, dtype: object

In [ ]:

df3 = df[["county", "candidate", "party", "votes"]]

In [ ]:
df3

               county        candidate       party  votes
0             Autauga   Bernie Sanders    Democrat    544
1             Autauga  Hillary Clinton    Democrat   2387
2             Baldwin   Bernie Sanders    Democrat   2694
3             Baldwin  Hillary Clinton    Democrat   5290
4             Barbour   Bernie Sanders    Democrat    222
...               ...              ...         ...    ...
24606  Teton-Sublette         Ted Cruz  Republican      0
24607   Uinta-Lincoln     Donald Trump  Republican      0
24608   Uinta-Lincoln      John Kasich  Republican      0
24609   Uinta-Lincoln      Marco Rubio  Republican      0
24610   Uinta-Lincoln         Ted Cruz  Republican     53

[24611 rows x 4 columns]

In [ ]:
print (df3[df3.votes>200000]) #Matrix

             county        candidate     party   votes
1385    Los Angeles   Bernie Sanders  Democrat  434656
1386    Los Angeles  Hillary Clinton  Democrat  590502
4450        Chicago   Bernie Sanders  Democrat  311225
4451        Chicago  Hillary Clinton  Democrat  366954
4462   Cook Suburbs   Bernie Sanders  Democrat  212428
4463   Cook Suburbs  Hillary Clinton  Democrat  249217
17309  Philadelphia  Hillary Clinton  Democrat  212785

In [ ]:
print (df3[(df3.county=='Manhattan') & (df.party=='Democrat')])

          county        candidate     party   votes
15011  Manhattan   Bernie Sanders  Democrat   90227
15012  Manhattan  Hillary Clinton  Democrat  177496

Con query ⬇

In [ ]:
print (df3.query("county=='Manhattan' and party=='Democrat'"))

          county        candidate     party   votes
15011  Manhattan   Bernie Sanders  Democrat   90227
15012  Manhattan  Hillary Clinton  Democrat  177496

In [ ]:

condado = 'Manhattan'
print (df3.query("county==@condado and party=='Democrat'"))

          county        candidate     party   votes
15011  Manhattan   Bernie Sanders  Democrat   90227
15012  Manhattan  Hillary Clinton  Democrat  177496

In [ ]:
print (df3.query("county=='Autauga' or county=='Baldwin'"))

       county        candidate       party  votes
0     Autauga   Bernie Sanders    Democrat    544
1     Autauga  Hillary Clinton    Democrat   2387
2     Baldwin   Bernie Sanders    Democrat   2694
3     Baldwin  Hillary Clinton    Democrat   5290
134   Autauga       Ben Carson  Republican   1764
135   Autauga     Donald Trump  Republican   5387
136   Autauga      John Kasich  Republican    421
137   Autauga      Marco Rubio  Republican   1785
138   Autauga         Ted Cruz  Republican   2482
139   Baldwin       Ben Carson  Republican   4221
140   Baldwin     Donald Trump  Republican  23618
141   Baldwin      John Kasich  Republican   2987
142   Baldwin      Marco Rubio  Republican   9703
143   Baldwin         Ted Cruz  Republican   8571
3037  Baldwin   Bernie Sanders    Democrat    762
3038  Baldwin  Hillary Clinton    Democrat   3034
3367  Baldwin       Ben Carson  Republican    350
3368  Baldwin     Donald Trump  Republican   2069
3369  Baldwin      John Kasich  Republican    184
3370  Baldwin      Marco Rubio  Republican    961
3371  Baldwin         Ted Cruz  Republican    880
8171  Baldwin   Bernie Sanders    Democrat      2
8172  Baldwin  Hillary Clinton    Democrat      1

In [ ]:
Con isin

In [ ]:
print (df3[(df3.county.isin(["Autauga","Baldwin"]))])

       county        candidate       party  votes
0     Autauga   Bernie Sanders    Democrat    544
1     Autauga  Hillary Clinton    Democrat   2387
2     Baldwin   Bernie Sanders    Democrat   2694
3     Baldwin  Hillary Clinton    Democrat   5290
134   Autauga       Ben Carson  Republican   1764
135   Autauga     Donald Trump  Republican   5387
136   Autauga      John Kasich  Republican    421
137   Autauga      Marco Rubio  Republican   1785
138   Autauga         Ted Cruz  Republican   2482
139   Baldwin       Ben Carson  Republican   4221
140   Baldwin     Donald Trump  Republican  23618
141   Baldwin      John Kasich  Republican   2987
142   Baldwin      Marco Rubio  Republican   9703
143   Baldwin         Ted Cruz  Republican   8571
3037  Baldwin   Bernie Sanders    Democrat    762
3038  Baldwin  Hillary Clinton    Democrat   3034
3367  Baldwin       Ben Carson  Republican    350
3368  Baldwin     Donald Trump  Republican   2069
3369  Baldwin      John Kasich  Republican    184
3370  Baldwin      Marco Rubio  Republican    961
3371  Baldwin         Ted Cruz  Republican    880
8171  Baldwin   Bernie Sanders    Democrat      2
8172  Baldwin  Hillary Clinton    Democrat      1

Contains

In [ ]:

print (df3[df3.county.str.contains('Saint')])

               county        candidate       party  votes
946     Saint Francis   Bernie Sanders    Democrat    354
947     Saint Francis  Hillary Clinton    Democrat   1912
1279    Saint Francis       Ben Carson  Republican     68
1280    Saint Francis     Donald Trump  Republican    598
1281    Saint Francis      John Kasich  Republican     19
1282    Saint Francis      Marco Rubio  Republican    236
1283    Saint Francis         Ted Cruz  Republican    494
8875     Saint Agatha   Bernie Sanders    Democrat      2
8876     Saint Agatha  Hillary Clinton    Democrat      2
15043  Saint Lawrence   Bernie Sanders    Democrat   4102
15044  Saint Lawrence  Hillary Clinton    Democrat   2865
15210  Saint Lawrence     Donald Trump  Republican   3617
15211  Saint Lawrence      John Kasich  Republican   1905
15212  Saint Lawrence         Ted Cruz  Republican    978

Ordenar

In [ ]:

dfordenado = df3.sort_values(by="votes", ascending=False)
print ("Ordenados por votos de mayor a menor")
print (dfordenado.head(5))

Ordenados por votos de mayor a menor
            county        candidate     party   votes
1386   Los Angeles  Hillary Clinton  Democrat  590502
1385   Los Angeles   Bernie Sanders  Democrat  434656
4451       Chicago  Hillary Clinton  Democrat  366954
4450       Chicago   Bernie Sanders  Democrat  311225
4463  Cook Suburbs  Hillary Clinton  Democrat  249217

Agrupar

In [ ]:
print ("total de votos por estado y partido")
print (df.groupby(["state", "party"]).sum())

total de votos por estado y partido
                            votes  fraction_votes
state         party
Alabama       Democrat     386327          63.918
              Republican   837632          65.429
Alaska        Democrat        539          40.000
              Republican    21930          40.004
Arizona       Democrat     399097          14.353
...                           ...             ...
West Virginia Republican   188138          51.205
Wisconsin     Democrat    1000703          71.654
              Republican  1072699          69.896
Wyoming       Democrat        280          23.000
              Republican      903          11.296

[95 rows x 2 columns]

In [ ]:
df3.to_csv("filename_df3.csv", index=False)