In [ ]:
import sqlite3 as sql

Ejemplo 1

In [ ]:
con = sql.connect('mydatabase.db')

Crear el cursor para consultas

In [ ]:
con = sqlite3.connect('mydatabase.db')

In [ ]:
cursorObj = con.cursor()

In [ ]:
from sqlite3 import Error

def sql_connection():

    try:

        con = sqlite3.connect(':memory:')

        print("Connection is established: Database is created in memory")

    except Error:

        print(Error)

    finally:

        con.close()

sql_connection()

Connection is established: Database is created in memory

Crear tabla

In [ ]:
import sqlite3

from sqlite3 import Error

def sql_connection():

    try:

        con = sqlite3.connect('mydatabase.db')

        return con

    except Error:

        print(Error)

def sql_table(con):

    cursorObj = con.cursor()

    cursorObj.execute("CREATE TABLE employees(id integer PRIMARY KEY, name text, salary real, department text, position text, hireDate text)")

    con.commit()

con = sql_connection()

sql_table(con)

Insertar tabla

In [ ]:
cursorObj.execute("INSERT INTO employees VALUES(1, 'John', 700, 'HR', 'Manager', '2017-01-04')")

con.commit()

In [ ]:
cursorObj.execute('''INSERT INTO employees(id, name, salary, department, position, hireDate) VALUES(?, ?, ?, ?, ?, ?)''', entities)

In [ ]:
entities = (2, 'Andrew', 800, 'IT', 'Tech', '2018-02-06')

Ejemplo 2 (Pandas)

In [ ]:
import sqlite3
sqlite3.connect('database')

In [ ]:
import sqlite3

conn = sqlite3.connect('test_database') 
c = conn.cursor()

c.execute('''
          CREATE TABLE IF NOT EXISTS products
          ([product_id] INTEGER PRIMARY KEY, [product_name] TEXT)
          ''')
          
c.execute('''
          CREATE TABLE IF NOT EXISTS prices
          ([product_id] INTEGER PRIMARY KEY, [price] INTEGER)
          ''')
                     
conn.commit()

In [ ]:
import sqlite3

conn = sqlite3.connect('test_database') 
c = conn.cursor()
                   
c.execute('''
          INSERT INTO products (product_id, product_name)

                VALUES
                (1,'Computer'),
                (2,'Printer'),
                (3,'Tablet'),
                (4,'Desk'),
                (5,'Chair')
          ''')

c.execute('''
          INSERT INTO prices (product_id, price)

                VALUES
                (1,800),
                (2,200),
                (3,300),
                (4,450),
                (5,150)
          ''')

conn.commit()

In [ ]:

cursor = conn.cursor()

In [ ]:

cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[]

In [ ]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('test_database') 
c = conn.cursor()
                   
c.execute('''
          SELECT
          a.product_name,
          b.price
          FROM products a
          LEFT JOIN prices b ON a.product_id = b.product_id
          ''')

df = pd.DataFrame(c.fetchall(), columns=['product_name','price'])
print (df)

  product_name  price
0     Computer    800
1      Printer    200
2       Tablet    300
3         Desk    450
4        Chair    150

Ejemplo 3

In [ ]:
import sqlite3
conn = sqlite3.connect("ejemplo.db")

In [ ]:
cursor = conn.cursor()

Crear una tabla

In [ ]:
cursor.execute("CREATE TABLE Direcciones (calle TEXT, cp NUMERIC)")
cursor.execute("INSERT INTO Direcciones VALUES ('Calle 1', 1644)")
cursor.execute("INSERT INTO Direcciones VALUES ('Calle 2', 7594)")

In [ ]:
conn.commit()  #Para guardar cambios (siempre hacerlo)

In [ ]:
q = cursor.execute("SELECT calle, cp FROM Direcciones")

In [ ]:
print(q.fetchone())
print(q.fetchone())

('Calle 1', 1644)
('Calle 2', 7594)

In [ ]:
q = cursor.execute("SELECT calle, cp FROM Direcciones")
print(q.fetchall())

[('Calle 1', 1644), ('Calle 2', 7594)]

In [ ]:
for data in q.fetchall():   
 print("Calle: %s, Código Postal: %d" % (data[0], data[1]))

In [ ]:
cursor.close()
conn.close()

Cerrar cursor y conexión