In [ ]:
import pandas as pd

In [ ]:
DF = pd.read_csv('/content/titanic_train.csv')

In [ ]:
DF

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]

In [ ]:
DF.shape

(200, 5)

In [ ]:
DF.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
DF.duplicated().sum()

0

In [ ]:
!pip install datacleaner

Collecting datacleaner
  Downloading datacleaner-0.1.5.tar.gz (6.5 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from datacleaner) (1.3.5)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from datacleaner) (1.0.2)
Collecting update_checker
  Downloading update_checker-0.18.0-py3-none-any.whl (7.0 kB)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas->datacleaner) (1.19.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->datacleaner) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->datacleaner) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->datacleaner) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->datacleaner) (3.1.0)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->datacleaner) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->datacleaner) (1.1.0)
Requirement already satisfied: requests>=2.3.0 in /usr/local/lib/python3.7/dist-packages (from update_checker->datacleaner) (2.23.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->update_checker->datacleaner) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->update_checker->datacleaner) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->update_checker->datacleaner) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->update_checker->datacleaner) (2.10)
Building wheels for collected packages: datacleaner
  Building wheel for datacleaner (setup.py) ... done
  Created wheel for datacleaner: filename=datacleaner-0.1.5-py3-none-any.whl size=7423 sha256=78fa412f5cc032765433257c185a3e6276959f110012a7e3923404033b3af0b9
  Stored in directory: /root/.cache/pip/wheels/26/8c/85/222a1180e47515576715bcfb1733746bf85c91f27adbeffae7
Successfully built datacleaner
Installing collected packages: update-checker, datacleaner
Successfully installed datacleaner-0.1.5 update-checker-0.18.0

In [ ]:

from datacleaner import autoclean
import pandas as pd

In [ ]:
DF.shape

(891, 12)

In [ ]:

clean_df = autoclean(DF)
clean_df.shape

(891, 12)

In [ ]:
print(clean_df)

     PassengerId  Survived  Pclass  Name  ...  Ticket     Fare  Cabin  Embarked
0              1         0       3   108  ...     523   7.2500     47         2
1              2         1       1   190  ...     596  71.2833     81         0
2              3         1       3   353  ...     669   7.9250     47         2
3              4         1       1   272  ...      49  53.1000     55         2
4              5         0       3    15  ...     472   8.0500     47         2
..           ...       ...     ...   ...  ...     ...      ...    ...       ...
886          887         0       2   548  ...     101  13.0000     47         2
887          888         1       1   303  ...      14  30.0000     30         2
888          889         0       3   413  ...     675  23.4500     47         2
889          890         1       1    81  ...       8  30.0000     60         0
890          891         0       3   220  ...     466   7.7500     47         1

[891 rows x 12 columns]

In [ ]:
!pip install AutoDataCleaner

Collecting AutoDataCleaner
  Downloading AutoDataCleaner-1.1.3.tar.gz (7.4 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from AutoDataCleaner) (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas->AutoDataCleaner) (1.19.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->AutoDataCleaner) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->AutoDataCleaner) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->AutoDataCleaner) (1.15.0)
Building wheels for collected packages: AutoDataCleaner
  Building wheel for AutoDataCleaner (setup.py) ... done
  Created wheel for AutoDataCleaner: filename=AutoDataCleaner-1.1.3-py3-none-any.whl size=7933 sha256=9b668f8ab01c16212e293e86022a2944eaf3a9bd16e64be1a05ffcfcce2023bf
  Stored in directory: /root/.cache/pip/wheels/94/49/95/8f3c9f4454f5ad549eb9b813ce4cc61f75f1df96e2849c59de
Successfully built AutoDataCleaner
Installing collected packages: AutoDataCleaner
Successfully installed AutoDataCleaner-1.1.3

In [ ]:
import AutoDataCleaner.AutoDataCleaner as adc

In [ ]:
DF = adc.clean_me(DF, 
...     detect_binary=True, 
...     numeric_dtype=True, 
...     one_hot=True, 
...     na_cleaner_mode="mode", 
...     normalize=True, 
...     datetime_columns=["Cabin"], 
...     remove_columns=["Name"], 
...     verbose=True)

 +++++++++++++++ AUTO DATA CLEANING STARTED ++++++++++++++++
 =  AutoDataCleaner: Casting datetime columns to datetime dtype...
 ERROR Unknown string format: C85
 =  AutoDataCleaner: Performing removal of unwanted columns...
  + removed 1 columns successfully.
 =  AutoDataCleaner: Performing One-Hot encoding...
  + detected 2 binary columns [['Survived', 'Sex']], cells cleaned: 1782 cells
 = AutoDataCleaner: Converting columns to numeric dtypes when possible...
  + 177 minority (minority means < %25 of 'Age' entries) values that cannot be converted to numeric dtype in column 'Age' have been set to NaN, nan cleaner function will deal with them
  + converted 0 cells to numeric dtypes
 =  AutoDataCleaner: Performing One-Hot encoding...
  + one-hot encoding done, added 681 new columns
 =  AutoDataCleaner: Performing None/NA/Empty values cleaning...
  + cleaned the following NaN values: {'Age NaN Values': 177}
 =  AutoDataCleaner: Performing dataset normalization...
  + normalized 5346 cells
 +++++++++++++++ AUTO DATA CLEANING FINISHED +++++++++++++++

In [ ]:
DF

     PassengerId  Survived    Pclass  ...  Embarked_C  Embarked_Q  Embarked_S
0      -1.729137         0  0.826913  ...           0           0           1
1      -1.725251         1 -1.565228  ...           1           0           0
2      -1.721365         1  0.826913  ...           0           0           1
3      -1.717480         1 -1.565228  ...           0           0           1
4      -1.713594         0  0.826913  ...           0           0           1
..           ...       ...       ...  ...         ...         ...         ...
886     1.713594         0 -0.369158  ...           0           0           1
887     1.717480         1 -1.565228  ...           0           0           1
888     1.721365         0  0.826913  ...           0           0           1
889     1.725251         1 -1.565228  ...           1           0           0
890     1.729137         0  0.826913  ...           0           1           0

[891 rows x 692 columns]

In [ ]:
DF2 = pd.read_csv('/content/titanic_train.csv')

In [ ]:
DF2 = adc.clean_me(DF2,
...     detect_binary=True,
...     numeric_dtype=True,
...     one_hot=True,
...     na_cleaner_mode="mode",
...     #normalize=True,
...     datetime_columns=["Embarked"],
...     remove_columns=["Name"],
...     verbose=True)

 +++++++++++++++ AUTO DATA CLEANING STARTED ++++++++++++++++
 =  AutoDataCleaner: Casting datetime columns to datetime dtype...
 ERROR Unknown string format: S
 =  AutoDataCleaner: Performing removal of unwanted columns...
  + removed 1 columns successfully.
 =  AutoDataCleaner: Performing One-Hot encoding...
  + detected 2 binary columns [['Survived', 'Sex']], cells cleaned: 1782 cells
 = AutoDataCleaner: Converting columns to numeric dtypes when possible...
  + 177 minority (minority means < %25 of 'Age' entries) values that cannot be converted to numeric dtype in column 'Age' have been set to NaN, nan cleaner function will deal with them
  + converted 0 cells to numeric dtypes
 =  AutoDataCleaner: Performing One-Hot encoding...
  + one-hot encoding done, added 825 new columns
 =  AutoDataCleaner: Performing None/NA/Empty values cleaning...
  + cleaned the following NaN values: {'Age NaN Values': 177}
 =  AutoDataCleaner: Performing dataset normalization...
  + normalized 5346 cells
 +++++++++++++++ AUTO DATA CLEANING FINISHED +++++++++++++++

In [ ]:
DF2

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]

In [ ]:
DF2

     PassengerId  Survived    Pclass  ...  Cabin_F4  Cabin_G6  Cabin_T
0      -1.729137         0  0.826913  ...         0         0        0
1      -1.725251         1 -1.565228  ...         0         0        0
2      -1.721365         1  0.826913  ...         0         0        0
3      -1.717480         1 -1.565228  ...         0         0        0
4      -1.713594         0  0.826913  ...         0         0        0
..           ...       ...       ...  ...       ...       ...      ...
886     1.713594         0 -0.369158  ...         0         0        0
887     1.717480         1 -1.565228  ...         0         0        0
888     1.721365         0  0.826913  ...         0         0        0
889     1.725251         1 -1.565228  ...         0         0        0
890     1.729137         0  0.826913  ...         0         0        0

[891 rows x 836 columns]

In [ ]:
DF3 = pd.read_csv('/content/titanic_train.csv')

In [ ]:
DF3.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
DF3 = adc.clean_me(DF3,
...     detect_binary=True,
...     numeric_dtype=True,
...     one_hot=True,
...     na_cleaner_mode="mode",
...     #normalize=True,
...     datetime_columns=["Embarked"],
...     remove_columns=["Name"],
...     verbose=True)

 +++++++++++++++ AUTO DATA CLEANING STARTED ++++++++++++++++
 =  AutoDataCleaner: Casting datetime columns to datetime dtype...
 ERROR Unknown string format: S
 =  AutoDataCleaner: Performing removal of unwanted columns...
  + removed 1 columns successfully.
 =  AutoDataCleaner: Performing One-Hot encoding...
  + detected 2 binary columns [['Survived', 'Sex']], cells cleaned: 1782 cells
 = AutoDataCleaner: Converting columns to numeric dtypes when possible...
  + 177 minority (minority means < %25 of 'Age' entries) values that cannot be converted to numeric dtype in column 'Age' have been set to NaN, nan cleaner function will deal with them
  + converted 0 cells to numeric dtypes
 =  AutoDataCleaner: Performing One-Hot encoding...
  + one-hot encoding done, added 825 new columns
 =  AutoDataCleaner: Performing None/NA/Empty values cleaning...
  + cleaned the following NaN values: {'Age NaN Values': 177}
 =  AutoDataCleaner: Performing dataset normalization...
  + normalized 5346 cells
 +++++++++++++++ AUTO DATA CLEANING FINISHED +++++++++++++++

In [ ]:
DF3.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
              ..
Cabin_F33      0
Cabin_F38      0
Cabin_F4       0
Cabin_G6       0
Cabin_T        0
Length: 836, dtype: int64